[submodule "sqlcipher"]
	path = sqlcipher
	url = git@github.com:QuranWorks/sqlcipher.git
[submodule "openssl-xcode"]
	path = openssl-xcode
	url = git@github.com:QuranWorks/openssl-xcode.git
[submodule "nsdate-helper"]
	path = nsdate-helper
	url = git://github.com/billymeltdown/nsdate-helper.git
